
@{
    Layout = "~/Views/Teacher/HomePageForTeacher.cshtml";
}

<h2>@ViewBag.group</h2>
<h3>Выставление оценок</h3>
<hr />
<form method="post" action="SaveRaiting">
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Студент</th>
                <th>Оценка</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 1;
                foreach (var student in ViewBag.names)
                {
                    <tr>
                        <td>@i</td>
                        <td>
                            <input class="hidden" name="idStudents" value="@ViewBag.idS[i - 1]" />
                            @student
                        </td>
                        <td>
                            <input name="raiting" class="form-control" />
                        </td>
                    </tr>
                    i += 1;
                }
            }
        </tbody>
    </table>
    <input class="hidden" name="date" value="@ViewBag.date" />
    <input class="hidden" name="group" value="@ViewBag.group" />
    <input type="submit" class="btn btn-default btn-lg" value="Сохранить" />
</form>

